.loginButton{
    display: inline-block;
    background-color: #1DA1F2;
    color: white;
    border-radius: 30px;
    padding: 17px 35px;
    margin: 50px 0 70px;
    min-width: 160px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
}
.loginButton:hover{
    background-color: red;
}
.loginButton:focus{
    background-color: red;
}

.login{
    background-color: black;
    // margin-top: 500dp;
    // height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
}

.loginBanner{
    color:white;
    // margin-top: 2;
    font-size: 5rem;
}